

/*푸터*/
footer {
    display: flex;
    justify-content: center;

    box-sizing: border-box;
    width: 100%;
    padding: 45px 0;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 70%;
}
.footer-nav-mobile {
    display: none;
}
