

/*푸터*/
footer {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 45px 0;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 70%;
}
