/*메인*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

/*첫 섹션*/
.hero {
    display: flex;
    justify-content: center;

    background: #F2E9D8;
    width: 100%;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    max-width: 1256px;
    width: 66%;
}

/*고양이 옆 텍스트*/
.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;

    margin-top: 140px;
}

.hero-text-main {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    width: 695px;
}

.hero-text-sub {
    width: 420px;
}

/*고양이 사진*/
.hero-image {
    display: flex;
    align-items: flex-end;
}

/*둘째 섹션*/
.features {
    display: flex;
    justify-content: center;

    width: 100%;
    margin: 50px 0 100px 0;
}

.features-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    max-width: 1256px;
    width: 66%;
}
.features-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    flex: 1;

}
.features-text-main {
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    text-align: left;
}
.features-image img {
    width: 100%;
}



/*사진 모음*/
.gallery {
    display: flex;
    justify-content: center;

    width: 100%;
    margin-bottom: 100px;

}

.gallery-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 1256px;
    width: 66%;
}

.gallery-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.gallery-txt-main {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    color: #D97652;
}

.gallery-txt-sub {
    text-align: center;
}

.gallery-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /*fr */
    gap: 30px;

    width: 100%;
    margin: 50px 0;
}

.gallery-img li img {
    width: 100%;

    border-radius: 50px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
/**/
}

.show-more-text {
    margin-bottom: 10px;

    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}
/*구분선*/
.section-divider {
    background: #C4C4C4;

    height: 1px;
    width: 66%;
}

/*지도*/
.info {
    display: flex;
    justify-content: center;

    margin: 100px 0;
    width: 100%;
}

.info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    max-width: 1256px;
    width: 66%;
}

.info-txt {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.info-text-strong {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
}

.map {
    border-radius: 12px;
}

/*구독*/
.subscribe {
    display: flex;
    justify-content: center;

    height: 340px;
    width: 100%;
    margin-top: 100px;

    background-image: url("/img/img_5.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.subscribe-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    transform: translate(0%, -50%);
    z-index: 1;

    max-width: 1256px;
    width: 66%;
    height: 200px;
    border-radius: 30px;
    background: #263140;
}

.subscribe-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    height: 99px;
    margin: 0 50px;
    color: #FFFFFF;
}

.subscribe-text-main {
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    text-align: left;
}

.subscribe-text-sub {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;

}

.fake-form {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin-right: 50px;
}

.fake-input {
    text-indent: 40px;
    width: 100%;
    height: 60px;
    border-radius: 60px;
    text-align: left;
}

::placeholder {
    background-image: url("/img/mail.svg");
    background-position: 10px center;
    background-repeat: no-repeat;
}

.subscribe-btn {
    /*공통 클래스 color-button*/

    position: absolute;
    transform: translate(-5%, 0%);
    z-index: 1;
}

.scroll-top-btn {
    position: fixed;
    top: 94%;
    left: 89%;
    z-index: 9;

    border: none;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


